#salmon {
    color: rgb(3, 172, 184);
    text-decoration: none;
    font-size: 30px;
    background-color:rgb(212, 212, 212);
    border-radius: 5%
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}

#back {
    background-color: rgb(181, 164, 164)
}

#meatballs {
    color: rgb(3, 172, 184);
    text-decoration: none;
    border-radius: 5%;
    padding: 5px;
    font-size: 30px;
    background-color: rgb(212, 212, 212)
}

#bbqribs {
    color: rgb(3, 172, 184);
    text-decoration: none;
    font-size: 30px;
    padding: 5px;
    border-radius: 5%;
    background-color: rgb(212, 212, 212);
}

.salmon {
    margin:15px;

}

.meatballs{
    margin: 15px;
}

.bbqribs {
    margin: 15px;
}

#salmon:hover,
#meatballs:hover,
#bbqribs:hover {
    color:red;
}
